<% include partials/header %>

</head>
<body>
		<div class="col-sm-6">
				<h1></h1>
				<a href="/favMaovies" class="btn btn-danger" data-toggle="modal" id="fav"><span>favoriate</span></a>
		</div>
	</div>
	</div>
	<h3>Movies List</h3>
	<div  style="overflow:auto;" id="export">
			<table id="example" class="table table-striped table-hover" style="width:100%">
					<thead>
			<tr>
				<th id="posterID"></th>
				<th>Name</th>
				<th>Year</th>
				<th>Director</th>
				<th>Cast</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
		</tbody>
		</table>
		</div>
	</div>

</div>
</body>




</html>